.header{
    background-color: #e5e2e2;   
    position: relative; 
    top:0;
    left:0;
    height:50px;
    /* z-index: 0; */
    text-align: center;
   
}
.header_img{margin-left:50px;}
.header_img img{
   width:50px;
   height: 50px;
   position: absolute;
   /* z-index:-1; */
 
}
div input{
    width:400px;
    font-size:0.5rem;
    border:1px solid #025e15;
}
.header_input{
    position: relative;
    top:0px;
    left:0px;
}
.header_input button{
    position: absolute;
    top:17px;
    left:320px;
    font-size:0.7rem;
    height:17px;
    width:80px;
    color:#fff;
    background:#025e15;
    border:0px;
}
span{
    color:#025e15;
    padding-left: 50px;
    position: relative;
    top:12px;
    left:0px;
    
}
.mt-2 button{
    border:1px solid #025e15;
    background: #fff;
    font-size: 0.7rem;
    color:#025e15;
    width:100px;
    height:30px;
}